.advert-section{
    height: 100vh;
    background-color: #055805;
    border-radius:20px;
    display: flex;
    gap: 5rem;
    padding-top: 5rem;
    margin-top: 5rem;
}

.img-advert img{
    height: 100%;
    padding-left: 5rem;
}

.advert-text1 {
    margin-top: 10%;
    color: #f1f1f1;
    padding: 3.2rem;
}

.advert-text1 h1{
    font-weight: bold;
    letter-spacing: 2px;
    color: #f1f1f1;
    margin-bottom: 1.5rem;
}

.advert-text1 p, a{
    color: #f1f1f1;
    font-weight: 400;
    margin-bottom: 1.5rem;
    font-size: 18px;
    line-height: 29px;
}


@media (max-width: 1200px) {

    .advert-section { 
      flex-direction: column;
      padding-top: 0;
      gap: 0;
      height: auto;
    }
  
    .advert-text1 {
      order: -1;
      font-size: 16px;
      padding-top: 2.5rem;
      padding: 1rem;
    }
  
    .img-advert img {
      width: 100%;
      height: auto;
      padding-left: 0;
      padding: 2rem;
      padding-bottom: 0;

          }
  }

  
