.advert-section{
    height: 100vh;
    background-color: #055805;
    border-radius:20px;
    display: flex;
    gap: 5rem;
    padding-top: 5rem;
    margin-top: 5rem;
}

.img-advert img{
    height: 100%;
    padding-left: 5rem;
}

.advert-text {
    margin-top: 10%;
    color: #f1f1f1;
}

.advert-text h1{
    font-weight: 800;
    letter-spacing: 2px;
    color: #f1f1f1;
}

.advert-text p, a{
    color: #f1f1f1;
    font-weight: bold;
}
