.advert{
    display: flex;   
    gap: 3.2rem;

}

.advertBusiness{
    justify-content: center;
     display: grid;
     grid-template-columns: 1fr 1fr;
    gap: 2.2rem;
}

.advert-info{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    border-radius: 5%;
    background-color: #f1f1f1;
}

.advert-text{
    text-align: start;
    padding: 3.2rem;
}

.advert-text h1{
    margin-bottom: 1.5rem;
    font-size: 32px;
    font-weight: 400;
    color: #000;
}

.advert-text p{
    margin-bottom: 1.5rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color: #000;
}

.advert-image{
    display: flex;
    justify-content: center;
}
 
.advert-image img{
    height: 50vh;
    object-fit: cover;
    width: 450px;
    
}
.props.link{
    color: #008000;
}

@media (max-width: 1200px) {
    .advertBusiness {
      grid-template-columns: 1fr; 
      width: 100%;
    }
  
    .advert-image img {
      width: 100%;
      height: auto;
    }
    .advert-info{
        gap: 0;
    }

    .advert-text{
        padding-bottom: 2rem;
    }
    
    
  }