
.business-plan{
    background-color: #000;
    margin-top: 5rem;
    height: 100%;
    padding: 0;
}

.heading4{
    text-align: center;
    padding-top:4rem;
    color: #f2f2f2;
}
 .heading4 h1{
   letter-spacing: 3px;
    margin-bottom: 1rem;
 }

 .card-wrapper{
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin: 3rem;

}
.card {
    background-color: rgb(20, 19, 19);
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 3rem;
    max-width: 30rem;
  }
  
  .card-title {
    font-size: 1.5rem;
     margin-bottom: 2.5rem;
  }
  
  .card-price {
    font-size: 1rem;
    margin-bottom: 2.5rem;
  }
  
  .price-tag {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .description {
    margin-bottom: 3rem;
  }
  
  .line {
    border: 0;
    border-top: 1px solid white;
    margin: 15px 0;
  }
  
  .card-list {
    list-style-type: none;
    margin: 15px 0;
  }
  
  .card-list li {
    margin-bottom: 1rem;
  }
  .borderbottom{
    padding: 5rem;
    text-align: center;
    color: #008000;
  }
  
  
  @media (max-width: 1000px) {
    .card-wrapper{
      flex-direction: column;
      margin: 1.5rem;
    }
    .card{
      max-width: 100% ;
    }

  }
  @media (max-width: 600px) {}
  .card{
    padding: 1rem;
    padding-top: 2rem;
  }
