.testimonial{
    margin-top: 8rem;
    height:80vh;
    overflow-y : hidden;
}

.testimonial-carousel{
  margin-top: 5rem;  
  position: relative; 
  margin-left: 3rem; 
}

.testimony{
  padding: 5rem;
  width: 100%;
  
}

.testimony h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.testimony p {
  font-size: 18px;
  line-height: 1.5;
}

.testimony p:first-of-type {
  margin-bottom: 15px;

} 

.testimony p:last-child {
  font-weight: bold;
}

  .testimonial-card img {
    width: 32rem; 
    height: 20rem;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .test {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s;
    width: 100%;
  }
  
  .test.active {
    opacity: 1;
    position: absolute; 
  } 
  
  .test {
    
    animation: slide 120s infinite;
  }
  
  
  @keyframes slide {
    0% {
      opacity: 1;
    }
    10% {
      opacity: 1; 
    }
    15% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    45% {
      opacity: 0;
    }
    55% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  .test:nth-child(1) {
    animation-delay: 10s;
  }
  
  .test:nth-child(2) {
     animation-delay: 30s; 
  }
  
  .test:nth-child(3) {
    animation-delay: 50s; 
  }

  /* @media (max-width: 1000px) {

    .test {
      flex-direction: column;
    }
  
    .testimonial-card {
      order: -1; 
      width: 100%;
    }
  
    .testimonial-card img {
      /* max-height: 200px; */
      /* object-fit: cover;
      width: 100%;
    }
  
    .testimony {
      width: 100%;
      padding: 1rem;
    }
  
    .testimony h3 {
      font-size: 18px;
    }
  
    .testimony p {
      font-size: 14px;
    }
  
    .testimonial {
      height: auto;
    }
  
  } */
  

  @media (max-width: 1000px) {

    .testimonial-carousel{
      height: 70vh;
      overflow-y: hidden;
    }

    .test {
      flex-direction: column;
    }
  
    .testimonial-card {
      order: -1;
      /* height:30vh ; */
      width: 100%;
      object-fit: contain;
      /* height: auto; */
    }
  
    .testimonial-card img { 
      height:50% ;
      width: 100%;
      
    }
  
    .testimony {
      height: auto;
      width: 100%;
      padding: 2rem;
    }
  
    .testimonial {
      height: auto;
      overflow-y: visible; 
    }
  
  }