.testimonial{
    margin-top: 8rem;
    height:70vh;
    margin-bottom: 0;
    overflow-y : hidden;
}

.testimonial-carousel{
  margin-top: 4rem;  
  position: relative; 
  margin-left: 3rem; 
}

.testimony{
  padding: 5rem;
  width: 100%;
  
}

.testimony h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.testimony p {
  font-size: 18px;
  line-height: 1.5;
}

.testimony p:first-of-type {
  margin-bottom: 15px;

} 

.testimony p:last-child {
  font-weight: bold;
}

  .testimonial-card img {
    width: 32rem; 
    height: 25rem;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .test {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s;
    width: 100%;
  }
  
  .test.active {
    opacity: 1;
    position: absolute; 
  } 
  
  .test {
    
    animation: slide 120s infinite;
  }
  
  
  @keyframes slide {
    0% {
      opacity: 1;
    }
    10% {
      opacity: 1; 
    }
    15% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
    45% {
      opacity: 0;
    }
    55% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  .test:nth-child(1) {
    animation-delay: 10s;
  }
  
  .test:nth-child(2) {
     animation-delay: 30s; 
  }
  
  .test:nth-child(3) {
    animation-delay: 50s; 
  }


  @media (max-width: 1000px) {

    .testimonial-carousel{
      height: 80vh;
      overflow-y: hidden;
      margin-left: 0;
      margin-top: 2.5rem;  
    }

    .test {
      flex-direction: column;
      width:100%;
      padding: 0;
    }
  
   
    .testimonial-card img { 
      width: 100%; 
      height: 80vh;
      object-fit: cover;
    }
  
    .testimony {
      width: 100%;
      padding: 1rem;
      order: -1;
    }
  
    .testimonial {
      height: auto;
      overflow-y: visible; 
      margin-top: 4rem;

    }
  
  }

  @media (max-width: 650px){
    .testimonial-card img{
      height:auto;
      width: 100%;
      object-fit: fill;
    }
    .testimonial-carousel{
      height: 60vh;
      width: 100%;
    }
  }

